<div class="card small" style="width: 90%;">
    <div class="card-content black-text">
        <span class="card-title">{{title}}</span>
        <p>{{description}}</p>
        <p>{{User.username}}</p>
        <p>{{createdAt}}</p>
    </div>
    <div class="card-action">
        {{#each Comments}}
        <p>{{comment}}</p>
        <p>{{UserId.User.username}}</p>
        {{/each}}
    </div>
    <form>
        <input type="text" placeholder="comment" id="comment">
    </form>
</div>