
{{#each posts}}
    <div id="blogPost">
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        <p>{{User.username}}</p>
        <p>{{Comments.comment}}</p>
        <p>{{Comments.UserId.username}}</p>
        <p>{{Comments.updatedAt}}</p>
    </div>
{{/each}}
